.container {
  padding: 3rem;
}
.box {
  height: 100px;
  display: block;
  background-color: blue;
}
.message-error {
  color: red;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.message-error.show{
  opacity: 1;
}
